*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: 'Netflix';
    src: url('../fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Netflix';
    src: url('../fonts/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

body{
    background-color: black;
    color: white;
    font-family: 'Netflix';
}
.header{
    padding: 15px 15px 100px;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to bottom, black 0%, black 50%, rgba(0,0,0, .5) 85%, transparent 100%);
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
a{
    color: white;
    text-decoration: none;
}
.nav{
    position: static;
    display: flex;
    justify-content: space-around;
/*     display: grid;
    grid-auto-columns: 75px;
    grid-auto-flow: column;
    justify-content: space-around; */
}
.nav-item{
    list-style: none;
    text-align: center;
}
.feature{
    margin-top: -90px;
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    }
.video{
    height: 100%;
    position: absolute;
    width: 100%;
}
.container-title{

    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.title-matrix{
    margin-bottom: 5px;
}
#coinci{
    color: rgba(113, 208, 116, 1);
}
.actions{
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-bottom: 2em;
    padding-top: 1em;

    width: 95%;
    align-items: center;
    margin: auto;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button-play{
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    padding: 2px 1em;
    border-radius: 3px;
    border: none;
    justify-content: center;
}
.button-play::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background: url('../icons/play.svg')
    }
.button-download{
    color: white;
    width: 100%;
    background: rgba(43, 43, 43, 1);
    border-radius: 3px;
    display: flex;
    border: none;
    align-items: center;
    padding: 2px 1em;
    justify-content: center;
}
.button-download::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background: url('../icons/download.svg')
    }
.desc{
    width: 95%;
    margin: auto;
}
#sinopsis{
    text-align: justify;
}
/*fghfhfhfhdfhdhdf*/
.buttons-h{
    display: flex;
    justify-content:left;
    padding-bottom: 2em;
    padding-top: 1em;
}
.button-s{
    background: none;
    color: white;
    font-size: 1.1em;
    min-width: 100px;
    border: none;
}
.button-s::before{
    content: "";
    display: block;
    height: 25px;
    width: 25px;
    margin: auto;
    margin-bottom: 5px;
}
.icon-list::before{
    background: url('../icons/plus.svg')
}
.icon-info::before{
    background: url('../icons/email-send.svg')
}
.icon-like::before{
    background: url('../icons/like.svg')
}
.list-content{
    white-space: nowrap;
    overflow-x: auto;
}
.list-item{
    display: inline-block;
    margin-left: 10px;
}
.list{
    padding-left: 15px;
}
.footer{
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    padding: 1em 0 0;
}
.tabs{
    display:grid;
    grid-auto-flow: column;
    list-style: none;
    padding-bottom: 1em;
}
.tabs a{
    color:gray;
}
.tab{
    text-align: center;
}
.tab:hover :is(path, span){
    fill: white;
    color: white;
}
.tab-icon{
    display: block;
    margin: auto;
}
.tab-icon path{
    fill: gray;
}